html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
}

.header{
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo{
    filter: drop-shadow(2px 2px 0px black)
            drop-shadow(-2px -2px 0px black)
            drop-shadow(-2px 2px 0px black)
            drop-shadow(2px -2px 0px black);
    width: 500px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.about{
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

.about h2{
    color: red;
    font-size: 2em;
    margin-bottom: 20px;
}

.about p{
    font-size: 1.2em;
}

.about img{
    width: 750px;
    float: right;
    margin-left: 20px;
    position: relative;
    top: -100px;
    left: 100px;

}

.services{
    background-color: white;
    padding: 40px;
    text-align: center;
}

.services h2{
    color: red;
    font-size: 2em;
    margin-bottom: 20px;
}
.services ul{
    list-style: none;
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
}

.services nav ul li{
    margin-bottom: 15px;
}

.contact{
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

.contact h2{
    color: red;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact p{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info, .location {
    width: 45%;
}


.footer{
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.rotating-img {
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.services ul li {
    margin-bottom: 20px;
}

.services ul li .desc {
    font-size: 0.75em;
    color: #666;
    user-select: none;
}
